---
import BaseLayout from '../layouts/BaseLayout.astro';
import BookCard from '../components/BookCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import VideoPublicationCard from '../components/VideoPublicationCard.astro';
import AboutGalleryImage from '../components/AboutGalleryImage.astro';
import { images, js } from '../data/global';
import { useTranslations, getStaticPaths } from '../i18n/index';
import { books } from '../data/books';
import { projects } from '../data/projects';
import { videos } from '../data/videos';
import { aboutGalleryImages } from '../data/about-gallery-images';

export { getStaticPaths };

const { lang } = Astro.params;
const t = useTranslations(lang as 'en' | 'pt');
---

<BaseLayout title={t('pageTitle')}>
	<section id="home"
	    class="hero bg-gradient-yellow dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 flex items-center w-full h-80vh min-h-[50rem] bg-mustard-50]">
	    <div class="w-full contain-wide section-margins-medium text-center">
	        <h3 class="text-indigo-900 dark:text-indigo-300">{t('heroSubtitle')}</h3>
	        <h1 class="text-indigo-900 dark:text-indigo-300" set:html={t('heroName').replace(' ', '<br> ')}></h1>
	        <p class=" bigger max-sm:hyphens-auto md:w-4/6 mx-auto">{t('heroDescription')}</p>
	    </div>
	</section>

	<section id="about-me" class="about-me w-full contain-margins-y bg-white dark:bg-gray-800">
	    <div
	        class="contain-narrow md:contain-medium section-margins-narrow md:section-margins-medium grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-8 lg:gap-12 items-start">
            <div class="w-full mx-auto sm:-mt-40 max-sm:row-start-2 grid md:grid-cols-2 gap-4">
                {aboutGalleryImages.map((image) => (
                    <AboutGalleryImage 
                        src={image.src}
                        altKey={image.altKey}
                        fslightboxGroup={image.fslightboxGroup}
                        gridClass={image.gridClass}
                    />
                ))}
            </div>
	        <div class="ml-auto lg:w-5/6 max-sm:row-start-1">
	            <h2>{t('aboutMeHeading')}</h2>
	            <p>{t('aboutMeDescription')}</p>
	        </div>
	    </div>
	</section>

	<section id="background" class="bg-white dark:bg-gray-800 contain-margins-y">
	    <div class="contain-medium section-margins-medium sm:grid lg:grid-cols-2 sm:gap-x-8">
	        <div>
	            <h1 class="max-lg:text-size-h2 max-lg:mb-10" set:html={t('backgroundHeading').replace(' ', '<wbr> ')}></h1>
	        </div>        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
            <div style="white-space: pre-line;">{t('backgroundDescription')}</div>
            <a href={t('cvUrl')} id="cv"
                class="icon-before icon-file-pdf icon-space-sm">{t('cvLinkText')}</a>
        </div>
	    </div>
	</section>

	<section id="publications" class="contain-margins-y bg-soap-50 dark:bg-gray-700 ">
	    <div class="contain-wide section-margins-medium">
	        <h1>{t('publicationsHeading')}</h1>
	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{t('publicationsSubheading')}</h2>

	            <p>{t('publicationsDescription')}</p>

	            <ul class="bullet">
	                <li><a href="#background">{t('publicationsCvLinkText')}</a></li>
	                <li><a href={t('publicationsOrcidUrl')} target="_blank"
	                        class="icon-after icon-external-link icon-space-sm">{t('publicationsOrcidLinkText')}</a></li>
	            </ul>

	            <h2>{t('publicationsBooksSubheading')}</h2>
	            <div class="book-grid">
	                {books.map(book => (
	                    <BookCard 
	                        titleKey={book.titleKey}
	                        author={book.author}
	                        descriptionKey={book.descriptionKey}
	                        imageUrl={book.imageUrl}
	                        imageAltKey={book.imageAltKey}
	                        titleUrl={book.titleUrl}
	                        downloadLinks={book.downloadLinks}
	                        interviewLinks={book.interviewLinks}
	                        purchaseLinks={book.purchaseLinks}
	                        purchaseTextKey={book.purchaseTextKey}
	                    />
	                ))}
	            </div>
	        </div>

	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{t('publicationsOtherProjectsSubheading')}</h2>

	            {projects.map(project => (
	                <ProjectCard 
	                    titleKey={project.titleKey}
	                    subtitleKey={project.subtitleKey}
	                    descriptionKey={project.descriptionKey}
	                    imageUrl={project.imageUrl}
	                    imageAltKey={project.imageAltKey}
	                    linkUrl={project.linkUrl}
	                    linkTextKey={project.linkTextKey}
	                    linkIcon={project.linkIcon}
	                />
	            ))}
	        </div>
	</section>

	<section id="speaking" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1>{t('speakingHeading')}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p>{t('speakingDescription')}</p>
				<p><a href="#contact-me" class="button button-lg icon-before icon-comment-smile icon-space-sm">{t('speakingContactButtonText')}</a></p>
			</div>
		</div>

		<div class="w-full">
			<div class="video-grid-container">
				<div class="video-grid">
					{videos.map(video => (
						<VideoPublicationCard 
							titleKey={video.titleKey}
							descriptionKey={video.descriptionKey}
							videoUrl={video.videoUrl}
							thumbnailUrl={video.thumbnailUrl}
							date={video.date}
							linkTextKey={video.linkTextKey}
						/>
					))}
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="services contain-margins-y bg-violet-50 dark:bg-gray-700">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300" set:html={t('servicesHeading').replace(' ', ' <br class="sm:hidden"> ')}></h1>
			<div class="sm:grid sm:grid-cols-2 gap-x-10 lg:gap-x-16 lg:max-w-screen-lg mx-auto mb-12 list-none">
				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{t('coursesTitle')}</h3>
						<ul class="bullet dark:text-gray-300">
							{t('coursesItems').map((item: string) => (
								<li><strong>{item.split(':')[0]}:</strong>{item.split(':')[1]}</li>
							))}
						</ul>
						<p class="text-small dark:text-gray-300">{t('coursesNote')}</p>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{t('consultancyTitle')}</h3>
						<p class="dark:text-gray-300">{t('consultancyDescription')}</p>
						<ul class="bullet dark:text-gray-300">
							{t('consultancyItems').map((item: string) => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>

				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{t('lawyeringTitle')}</h3>
						<ul class="bullet dark:text-gray-300">
							{t('lawyeringItems').map((item: string) => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{t('mentorshipTitle')}</h3>
						<p class="dark:text-gray-300">{t('mentorshipDescription')}</p>
						<ul class="bullet dark:text-gray-300">
							{t('mentorshipItems').map((item: string) => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{t('advocacyTitle')}</h3>
						<ul class="bullet dark:text-gray-300">
							{t('advocacyItems').map((item: string) => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact-me" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300">{t('contactHeading')}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p class="dark:text-gray-300">{t('contactDescription')}</p>

				<p><a id="email-link" href="#"
						class="max-sm:block button button-lg md:button-xl mb-8 icon-before icon-comment-smile icon-space-sm">{t('contactEmailButtonText')}</a>
				</p>

				<h4 class="max-sm:text-center dark:text-pink-300">{t('contactSocialMediaHeading')}</h4>
				<ul class="flex flex-row max-sm:justify-center items-start gap-8 max-sm:mt-8">
					<li><a href="https://www.instagram.com/tamaramoroso" target="_blank" rel="noopener noreferrer"
							title="Threads"><img src={`${images}/social-instagram.svg`} class="w-12 hover-shift-sm"
								alt="Instagram"></a>
					</li>
					<li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
							rel="noopener noreferrer" title="LinkedIn"><img src={`${images}/social-linkedin.svg`}
								class="w-12 hover-shift-sm" alt="LinkedIn"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</BaseLayout>
