---
import BaseLayout from '../layouts/BaseLayout.astro';
import BookCard from '../components/BookCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import VideoPublicationCard from '../components/VideoPublicationCard.astro';
import { images, js } from '../data/global';
import { siteContent } from '../data/site-content';
import { books } from '../data/books';
import { projects } from '../data/projects';
import { videos } from '../data/videos';
---

<BaseLayout title="Tamara Amoroso Gonsalves, Human Rights Expert">
	<section id="home"
	    class="hero bg-gradient-yellow dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 flex items-center w-full h-80vh min-h-[50rem] bg-mustard-50]">
	    <div class="w-full contain-wide section-margins-medium text-center">
	        <h3 class="text-indigo-900 dark:text-indigo-300">{siteContent.hero.subtitle}</h3>
	        <h1 class="text-indigo-900 dark:text-indigo-300" set:html={siteContent.hero.name.replace(' ', '<br> ')}></h1>
	        <p class=" bigger max-sm:hyphens-auto md:w-4/6 mx-auto">{siteContent.hero.description}</p>
	    </div>
	</section>

	<section id="about-me" class="about-me w-full contain-margins-y bg-white dark:bg-gray-800">
	    <div
	        class="contain-narrow md:contain-medium section-margins-narrow md:section-margins-medium grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-8 lg:gap-12 items-start">
	        <div class="w-full mx-auto sm:-mt-40 max-sm:row-start-2 grid md:grid-cols-2 gap-4">
	            <a data-fslightbox="about-pics" href={`${images}/foto_01.jpg`} class="col-span-2"><img
	                    src={`${images}/foto_01.jpg`}
	                    alt="Three women speaking (Tamara in the middle) and taking notes at a conference panel, with a camera recording in the foreground."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_02.jpg`} class="col-span-2"><img
	                    src={`${images}/foto_02.jpg`}
	                    alt="Tamara Gonsalves standing and smiling in a large assembly hall (UN) with nameplates and a decorative ceiling."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_03.jpg`} class="row-span-2"><img
	                    src={`${images}/foto_03.jpg`}
	                    alt="Tamara speaking in a studio setup with cameras and a world map on the wall behind her."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_04.jpg`}><img src={`${images}/foto_04.jpg`}
	                    alt="A group of women posing together in a well-lit room with plants."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_05.jpg`}><img src={`${images}/foto_05.jpg`}
	                    alt="Tamara Gonsalves smiling while signing a book at a table with flowers and books."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	        </div>
	        <div class="ml-auto lg:w-5/6 max-sm:row-start-1">
	            <h2>{siteContent.aboutMe.heading}</h2>
	            <p>{siteContent.aboutMe.description}</p>
	        </div>
	    </div>
	</section>

	<section id="background" class="bg-white dark:bg-gray-800 contain-margins-y">
	    <div class="contain-medium section-margins-medium sm:grid lg:grid-cols-2 sm:gap-x-8">
	        <div>
	            <h1 class="max-lg:text-size-h2 max-lg:mb-10" set:html={siteContent.background.heading.replace(' ', '<wbr> ')}></h1>
	        </div>

	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <p>{siteContent.background.paragraph1}</p>
	            <p>{siteContent.background.paragraph2}</p>
	            <a href={siteContent.background.cvUrl} id="cv"
	                class="icon-before icon-file-pdf icon-space-sm">{siteContent.background.cvLinkText}</a>
	        </div>
	    </div>
	</section>

	<section id="publications" class="contain-margins-y bg-soap-50 dark:bg-gray-700 ">
	    <div class="contain-wide section-margins-medium">
	        <h1>{siteContent.publications.heading}</h1>
	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{siteContent.publications.publicationsSubheading}</h2>

	            <p>{siteContent.publications.description}</p>

	            <ul class="bullet">
	                <li><a href="#background">{siteContent.publications.cvLinkText}</a></li>
	                <li><a href={siteContent.publications.orcidUrl} target="_blank"
	                        class="icon-after icon-external-link icon-space-sm">{siteContent.publications.orcidLinkText}</a></li>
	            </ul>

	            <h2>{siteContent.publications.booksSubheading}</h2>
	            <div class="book-grid">
	                {books.map(book => (
	                    <BookCard 
	                        title={book.title}
	                        author={book.author}
	                        description={book.description}
	                        imageUrl={book.imageUrl}
	                        imageAlt={book.imageAlt}
	                        titleUrl={book.titleUrl}
	                        downloadLinks={book.downloadLinks}
	                        interviewLinks={book.interviewLinks}
	                        purchaseLinks={book.purchaseLinks}
	                        purchaseText={book.purchaseText}
	                    />
	                ))}
	            </div>
	        </div>

	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{siteContent.publications.otherProjectsSubheading}</h2>

	            {projects.map(project => (
	                <ProjectCard 
	                    title={project.title}
	                    subtitle={project.subtitle}
	                    description={project.description}
	                    imageUrl={project.imageUrl}
	                    imageAlt={project.imageAlt}
	                    linkUrl={project.linkUrl}
	                    linkText={project.linkText}
	                    linkIcon={project.linkIcon}
	                />
	            ))}
	        </div>
	</section>

	<section id="speaking" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1>{siteContent.speaking.heading}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p>{siteContent.speaking.description}</p>
				<p><a href="#contact-me" class="button button-lg icon-before icon-comment-smile icon-space-sm">{siteContent.speaking.contactButtonText}</a></p>
			</div>
		</div>

		<div class="w-full">
			<div class="video-grid-container">
				<div class="video-grid">
					{videos.map(video => (
						<VideoPublicationCard 
							title={video.title}
							description={video.description}
							videoUrl={video.videoUrl}
							thumbnailUrl={video.thumbnailUrl}
							date={video.date}
							linkText={video.linkText}
						/>
					))}
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="services contain-margins-y bg-violet-50 dark:bg-gray-700">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300" set:html={siteContent.services.heading.replace(' ', ' <br class="sm:hidden"> ')}></h1>
			<div class="sm:grid sm:grid-cols-2 gap-x-10 lg:gap-x-16 lg:max-w-screen-lg mx-auto mb-12 list-none">
				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.courses.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.courses.items.map(item => (
								<li><strong>{item.split(':')[0]}:</strong>{item.split(':')[1]}</li>
							))}
						</ul>
						<p class="text-small dark:text-gray-300">{siteContent.services.courses.note}</p>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.consultancy.title}</h3>
						<p class="dark:text-gray-300">{siteContent.services.consultancy.description}</p>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.consultancy.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>

				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.lawyering.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.lawyering.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.mentorship.title}</h3>
						<p class="dark:text-gray-300">{siteContent.services.mentorship.description}</p>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.mentorship.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.advocacy.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.advocacy.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact-me" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300">{siteContent.contact.heading}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p class="dark:text-gray-300">{siteContent.contact.description}</p>

				<p><a id="email-link" href="#"
						class="max-sm:block button button-lg md:button-xl mb-8 icon-before icon-comment-smile icon-space-sm">{siteContent.contact.emailButtonText}</a>
				</p>

				<h4 class="max-sm:text-center dark:text-pink-300">{siteContent.contact.socialMediaHeading}</h4>
				<ul class="flex flex-row max-sm:justify-center items-start gap-8 max-sm:mt-8">
					<li><a href="https://www.instagram.com/tamaramoroso" target="_blank" rel="noopener noreferrer"
							title="Threads"><img src={`${images}/social-instagram.svg`} class="w-12 hover-shift-sm"
								alt="Instagram"></a>
					</li>
					<li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
							rel="noopener noreferrer" title="LinkedIn"><img src={`${images}/social-linkedin.svg`}
								class="w-12 hover-shift-sm" alt="LinkedIn"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</BaseLayout>
