---
import BaseLayout from '../layouts/BaseLayout.astro';
import BookCard from '../components/BookCard.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { images, js } from '../data/global';
import { siteContent } from '../data/site-content';
import { books } from '../data/books';
import { projects } from '../data/projects';
---

<BaseLayout title="Tamara Amoroso Gonsalves, Human Rights Expert">
	<section id="home"
	    class="hero bg-gradient-yellow dark:bg-gradient-to-br dark:from-gray-800 dark:to-gray-900 flex items-center w-full h-80vh min-h-[50rem] bg-mustard-50]">
	    <div class="w-full contain-wide section-margins-medium text-center">
	        <h3 class="text-indigo-900 dark:text-indigo-300">{siteContent.hero.subtitle}</h3>
	        <h1 class="text-indigo-900 dark:text-indigo-300" set:html={siteContent.hero.name.replace(' ', '<br> ')}></h1>
	        <p class=" bigger max-sm:hyphens-auto md:w-4/6 mx-auto">{siteContent.hero.description}</p>
	    </div>
	</section>

	<section id="about-me" class="about-me w-full contain-margins-y bg-white dark:bg-gray-800">
	    <div
	        class="contain-narrow md:contain-medium section-margins-narrow md:section-margins-medium grid sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-[2fr_1fr] gap-8 lg:gap-12 items-start">
	        <div class="w-full mx-auto sm:-mt-40 max-sm:row-start-2 grid md:grid-cols-2 gap-4">
	            <a data-fslightbox="about-pics" href={`${images}/foto_01.jpg`} class="col-span-2"><img
	                    src={`${images}/foto_01.jpg`}
	                    alt="Three women speaking (Tamara in the middle) and taking notes at a conference panel, with a camera recording in the foreground."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_02.jpg`} class="col-span-2"><img
	                    src={`${images}/foto_02.jpg`}
	                    alt="Tamara Gonsalves standing and smiling in a large assembly hall (UN) with nameplates and a decorative ceiling."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_03.jpg`} class="row-span-2"><img
	                    src={`${images}/foto_03.jpg`}
	                    alt="Tamara speaking in a studio setup with cameras and a world map on the wall behind her."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_04.jpg`}><img src={`${images}/foto_04.jpg`}
	                    alt="A group of women posing together in a well-lit room with plants."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	            <a data-fslightbox="about-pics" href={`${images}/foto_05.jpg`}><img src={`${images}/foto_05.jpg`}
	                    alt="Tamara Gonsalves smiling while signing a book at a table with flowers and books."
	                    class="rounded-md drop-shadow-md hover-shift-sm"></a>
	        </div>
	        <div class="ml-auto lg:w-5/6 max-sm:row-start-1">
	            <h2>{siteContent.aboutMe.heading}</h2>
	            <p>{siteContent.aboutMe.description}</p>
	        </div>
	    </div>
	</section>

	<section id="background" class="bg-white dark:bg-gray-800 contain-margins-y">
	    <div class="contain-medium section-margins-medium sm:grid lg:grid-cols-2 sm:gap-x-8">
	        <div>
	            <h1 class="max-lg:text-size-h2 max-lg:mb-10" set:html={siteContent.background.heading.replace(' ', '<wbr> ')}></h1>
	        </div>

	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <p>{siteContent.background.paragraph1}</p>
	            <p>{siteContent.background.paragraph2}</p>
	            <a href={siteContent.background.cvUrl} id="cv"
	                class="icon-before icon-file-pdf icon-space-sm">{siteContent.background.cvLinkText}</a>
	        </div>
	    </div>
	</section>

	<section id="publications" class="contain-margins-y bg-soap-50 dark:bg-gray-700 ">
	    <div class="contain-wide section-margins-medium">
	        <h1>{siteContent.publications.heading}</h1>
	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{siteContent.publications.publicationsSubheading}</h2>

	            <p>{siteContent.publications.description}</p>

	            <ul class="bullet">
	                <li><a href="#background">{siteContent.publications.cvLinkText}</a></li>
	                <li><a href={siteContent.publications.orcidUrl} target="_blank"
	                        class="icon-after icon-external-link icon-space-sm">{siteContent.publications.orcidLinkText}</a></li>
	            </ul>

	            <h2>{siteContent.publications.booksSubheading}</h2>
	            <div class="book-grid">
	                {books.map(book => (
	                    <BookCard 
	                        title={book.title}
	                        author={book.author}
	                        description={book.description}
	                        imageUrl={book.imageUrl}
	                        imageAlt={book.imageAlt}
	                        titleUrl={book.titleUrl}
	                        downloadLinks={book.downloadLinks}
	                        interviewLinks={book.interviewLinks}
	                        purchaseLinks={book.purchaseLinks}
	                        purchaseText={book.purchaseText}
	                    />
	                ))}
	            </div>
	        </div>

	        <div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto">
	            <h2>{siteContent.publications.otherProjectsSubheading}</h2>

	            {projects.map(project => (
	                <ProjectCard 
	                    title={project.title}
	                    subtitle={project.subtitle}
	                    description={project.description}
	                    imageUrl={project.imageUrl}
	                    imageAlt={project.imageAlt}
	                    linkUrl={project.linkUrl}
	                    linkText={project.linkText}
	                    linkIcon={project.linkIcon}
	                />
	            ))}
	        </div>
	</section>

	<section id="speaking" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1>{siteContent.speaking.heading}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p>{siteContent.speaking.description}</p>
				<p><a href="#contact-me" class="button button-lg icon-before icon-comment-smile icon-space-sm">{siteContent.speaking.contactButtonText}</a></p>
			</div>
		</div>

		<div class="w-full">
			<div class="video-grid-container">
				<div class="video-grid">

					<div class="video-card">
						<a href="https://www.youtube.com/watch?v=QP1zux-ZM5o&t=7s" target="_blank"
							aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2025_broadening_womens.png`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-05-20" class="video-date">May 8, 2025</time>
						<h5 class="video-title">Broadening women's rights through international advocacy
						</h5>
						<p class="video-description">Talk presented at CFGS as part of a series on gender and global
							governance, analyzing the use of parental alienation in custody disputes as a tool of
							gender-based violence. The discussion connects feminist legal research and transnational
							activism aimed at challenging its legitimacy before international human rights bodies.</p>
						<a href="https://www.youtube.com/watch?v=QP1zux-ZM5o&t=7s" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on
							site</a>
					</div>

					<div class="video-card">
						<a href="https://www.youtube.com/watch?v=s6JCUo6_viI&t=2478s" target="_blank"
							aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2025_alienacao_1.png`} alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-05-20" class="video-date">April 14, 2025</time>
						<h5 class="video-title">Alienação Parental: uma nova forma de violência de gênero contra mulheres e
							crianças na AL e Caribe
						</h5>
						<p class="video-description">
							Seminar held at the Brazilian Federal Court (Tribunal Regional Federal da 3ª Região), in
							partnership with AJUFESP (Associação dos Juízes Federais de SP e MS), to launch the book
							"Alienação Parental: Uma nova forma de violência de gênero contra mulheres e crianças na América
							Latina e Caribe" (Parental Alienation as a New Form of Gender-Based Violence Against Women and
							Children in Latin America and the Caribbean). I discussed how the concept of parental alienation
							has been misused in the region to dismiss abuse allegations and perpetuate institutional
							violence against women and children; as well as the need for a gender-insensitive application of
							the Hague Convention by the Brazilian state.
						</p>
						<a href="https://www.youtube.com/watch?v=s6JCUo6_viI&t=2478s" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on
							site</a>
					</div>

					<!-- Video 1 -->
					<div class="video-card">
						<a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank"
							aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2024_cedaw_1.jpg`} alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-05-20" class="video-date">May 20, 2024</time>
						<h5 class="video-title">CLADEM/Brazil representation at Brazil's review before the CEDAW Committee
						</h5>
						<p class="video-description">Speech delivered at the Opening Session with Brazilian Non-profit
							associations, addressing various forms of institutional violence such as obstetric violence,
							parental alienation in family court, inaccessible abortion services for sexual violence victims,
							child marriage, and forced pregnancies among adolescents.</p>
						<a href="https://webtv.un.org/en/asset/k1a/k1adxsy879" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on
							site</a>
					</div>
					<!-- Video 2 -->
					<div class="video-card">
						<a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
							target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2024_geneva_cedaw.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-05-21" class="video-date">May 21, 2024</time>
						<h5 class="video-title">How to Use CEDAW's Recommendations in National Strategic Litigation</h5>
						<p class="video-description">Panel discussing the strategic use of CEDAW's recommendations for
							domestic
							litigation in Brazil, emphasizing practical applications to advance women's rights.</p>
						<a href="https://ibdh.org.br/implementacao-das-recomendacoes-da-cedaw-ao-brasil-discutida-em-genebra/"
							target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
					</div>
					<!-- Video 3 -->
					<div class="video-card">
						<a href="https://hdl.handle.net/1828/16534" target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2024_beginning_of_life.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-03-20" class="video-date">March 20, 2024</time>
						<h5 class="video-title">Debates on the Beginning of Life and Legal Regulations to Personhood</h5>
						<p class="video-description">Exploration of feminist perspectives on the legal and ethical debates
							concerning the beginning of life and personhood, focusing on its implications for law and social
							policies.</p>
						<a href="https://hdl.handle.net/1828/16534" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
					</div>
					<!-- Video 4 -->
					<div class="video-card">
						<a href="https://hdl.handle.net/1828/16532" target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2024_interdisciplinary.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2024-02-26" class="video-date">February 26, 2024</time>
						<h5 class="video-title">Interdisciplinary Community Engaged Academic Research</h5>
						<p class="video-description">Presentation on applying interdisciplinary feminist research
							methodologies
							to engage communities and address systemic issues, highlighting academic and practical
							applications.
						</p>
						<a href="https://hdl.handle.net/1828/16532" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
					</div>
					<!-- Video 5 -->
					<div class="video-card">
						<a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank"
							aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2021_alienacao_parental.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2021-11-29" class="video-date">November 29–30, 2021</time>
						<h5 class="video-title">Parental Alienation: A Form of Violence Against Women</h5>
						<p class="video-description">Webinar addressing how the concept of parental alienation is used as a
							form
							of institutional violence against women, involving multi-stakeholder support and discussions in
							Portuguese and Spanish.</p>
						<a href="https://www.youtube.com/watch?v=YVh0jiG1iyQ" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch on
							site</a>
					</div>
					<!-- Video 6 -->
					<div class="video-card">
						<a href="" target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src="https://picsum.photos/800/600" alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2021-12-06" class="video-date">December 6, 2021</time>
						<h5 class="video-title">Research Launch on Violence Against Girls and Adolescents</h5>
						<p class="video-description">Research launch examining the link between sexual violence and the
							death of
							girls and adolescents in Latin America and the Caribbean between 2010-2019, alongside best
							practices
							for addressing violence in this demographic.</p>
						<a href="" target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on
							site</a>
					</div>
					<!-- Video 7 -->
					<div class="video-card">
						<a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank"
							aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2014_gender_human.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2012-10-02" class="video-date">October 2, 2012</time>
						<h5 class="video-title">Gender and Human Rights</h5>
						<p class="video-description">Seminar on gender equality and its intersection with human rights,
							discussing how gender analysis can inform policies and societal development frameworks.</p>
						<a href="https://iptv.usp.br/portal/video.action?idItem=12539" target="_blank"
							class="video-link icon-after icon-external-link icon-space-sm">Watch
							on site</a>
					</div>
					<!-- Video 8 -->
					<div class="video-card">
						<a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos"
							target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2014_gender_human.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2012-02-10" class="video-date">February 10, 2012</time>
						<h5 class="video-title">Gender Discussions Impact in Human Rights Concept</h5>
						<p class="video-description">Presentation analyzing how gender discussions have influenced the
							conceptualization of human rights, with a focus on historical and contemporary developments in
							the
							field.</p>
						<a href="http://www.iea.usp.br/midiateca/video/videos-2012/genero-e-direitos-humanos"
							target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
					</div>
					<!-- Video 9 -->
					<div class="video-card">
						<a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
							target="_blank" aria-label="Watch video: Video Title 1">
							<div class="video-thumbnail-container">
								<img src={`${images}/videos/2014_publicidade_crianca.jpg`}
									alt="Video thumbnail for Video Title 1">
							</div>
						</a>
						<time datetime="2013-08-29" class="video-date">August 29, 2013</time>
						<h5 class="video-title">Public Hearing on Advertising to Children</h5>
						<p class="video-description">Public hearing at the Brazilian National Congress addressing the impact
							of
							child-targeted advertising, highlighting its manipulative and abusive practices, and advocating
							for
							regulatory measures.</p>
						<a href="https://www12.senado.leg.br/tv/plenario-e-comissoes/comissao-de-direitos-humanos-e-legislacao-participativa/2013/08/a-publicidade-que-dialoga-com-a-crianca-e-abusiva-diz-tamara-amoroso-goncalves-min.-justica"
							target="_blank" class="video-link icon-after icon-external-link icon-space-sm">Watch on site</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="services" class="services contain-margins-y bg-violet-50 dark:bg-gray-700">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300" set:html={siteContent.services.heading.replace(' ', ' <br class="sm:hidden"> ')}></h1>
			<div class="sm:grid sm:grid-cols-2 gap-x-10 lg:gap-x-16 lg:max-w-screen-lg mx-auto mb-12 list-none">
				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.courses.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.courses.items.map(item => (
								<li><strong>{item.split(':')[0]}:</strong>{item.split(':')[1]}</li>
							))}
						</ul>
						<p class="text-small dark:text-gray-300">{siteContent.services.courses.note}</p>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.consultancy.title}</h3>
						<p class="dark:text-gray-300">{siteContent.services.consultancy.description}</p>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.consultancy.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>

				<div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.lawyering.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.lawyering.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.mentorship.title}</h3>
						<p class="dark:text-gray-300">{siteContent.services.mentorship.description}</p>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.mentorship.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
					<div class="services-item pb-4">
						<h3 class="dark:text-pink-300">{siteContent.services.advocacy.title}</h3>
						<ul class="bullet dark:text-gray-300">
							{siteContent.services.advocacy.items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contact-me" class="contain-margins-y bg-white dark:bg-gray-800">
		<div class="contain-medium section-margins-medium">
			<h1 class="dark:text-pink-300">{siteContent.contact.heading}</h1>
			<div class="sm:max-w-[560px] md:max-w-screen-sm lg:max-w-screen-md mx-auto mb-12">
				<p class="dark:text-gray-300">{siteContent.contact.description}</p>

				<p><a id="email-link" href="#"
						class="max-sm:block button button-lg md:button-xl mb-8 icon-before icon-comment-smile icon-space-sm">{siteContent.contact.emailButtonText}</a>
				</p>

				<h4 class="max-sm:text-center dark:text-pink-300">{siteContent.contact.socialMediaHeading}</h4>
				<ul class="flex flex-row max-sm:justify-center items-start gap-8 max-sm:mt-8">
					<li><a href="https://www.instagram.com/tamaramoroso" target="_blank" rel="noopener noreferrer"
							title="Threads"><img src={`${images}/social-instagram.svg`} class="w-12 hover-shift-sm"
								alt="Instagram"></a>
					</li>
					<li><a href="https://www.linkedin.com/in/tamara-amoroso-gonsalves-941527229/" target="_blank"
							rel="noopener noreferrer" title="LinkedIn"><img src={`${images}/social-linkedin.svg`}
								class="w-12 hover-shift-sm" alt="LinkedIn"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</BaseLayout>
